@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #18181b;
}

.container-snap::-webkit-scrollbar {
	display: none;
}

.container-snap {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background: #3f3f46;
}
