@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #18181b;
}

.masked-overflow {
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 4rem,
		black calc(100% - 4rem),
		transparent
	);
	mask-size: 100% 100%;
	mask-position:
		0 0,
		100% 0;
	mask-repeat: no-repeat, no-repeat;
}

.bg-custom {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(
		141deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(8, 9, 32, 1) 57%,
		rgba(15, 15, 14, 1) 100%
	);
	background: -webkit-linear-gradient(
		141deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(8, 9, 32, 1) 57%,
		rgba(15, 15, 14, 1) 100%
	);
	background: linear-gradient(
		141deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(8, 9, 32, 1) 57%,
		rgba(15, 15, 14, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0f0f0e",GradientType=1);
}

.container-snap::-webkit-scrollbar {
	display: none;
}

.container-snap {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background: #3f3f46;
}
